#image_preview, #saved_images {
	display: flex;
	overflow-x: auto;
	width: 100%;
	.foto-principal {
		color: yellow;   
	}
}
#image_preview img, #saved_images div {
	margin: 10px;  
	width: 200px;
	height: 150px;
}

#saved_images i{
	cursor: pointer;
	transition: all .1s ease;
}
#saved_images i.delete{
	right: 0;
	margin-right: 30px;  
}
#saved_images i.principal{
	left: 0;
	margin-left: 30px;  
}

#saved_images div {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 200px;
	position: relative;
}
#saved_images i {
	position: absolute;
	color: rgba(255,255,255,1);
	text-shadow: 2px 2px rgba(0,0,0,.5);
}
#saved_images i:hover {
	transform: scale(1.1);  
}
#dashboard {
	table[id^='info-'] tr td:nth-child(2) {
		text-align: right;
	}
	.info-box-number {
		font-size: 1.2em;
	}
	@media (min-width: 768px) {
		.card-title h3 {
			font-size: calc(16px + 6 * ((100vw - 320px) / 680));
		}
	}
}
.card-title {
	display: flex;
	align-items: center;
	justify-content: center;
}