// main: style.scss
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: $default;
  font-family: $default-font;
}

a {
  color: $link;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: $primary-light;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $secondary-font;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: $secondary;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right:15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;

  i {
    padding-top: 12px;
    color: #fff;
  }

  @media (max-width: 768px){
   bottom: 15px;
  }
}

/* Prelaoder */
#preloader { 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid $primary;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.box-shadow {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.box-shadow-blur {
  box-shadow: 5px 7px 7px 0 rgba(68, 88, 144, 0.5);
}
.card-img {
  border-radius: 0;
}
.btn-primary {
  background: #1e1d31;
  border: 1px solid #1e1d31;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-26 {
  font-size: 26px;
}
.bg-primary {
  background-color: $primary !important;
}
.container-fluid {
  padding: 0 50px;
}
@media (max-width: 768px) {
  .container-fluid {
    padding: 0 10px;
  }
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: none !important;
}
.btn-success:hover {
  background-color: #516756;
}
.border-round {
  border-radius: 0.25rem;
}
.card-cidade:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}
.card-cidade {
  transition: .3s all ease;
  box-shadow: 2px 2px 4px rgba(0,0,0,.5);
}		

.btn-main {
  display: inline-block;
  width: 10em;
  padding: 15px;
  color: #ee2655;
  background-color: transparent;
  border: 2px solid #ee2655;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: color 0.3s ease-out,
  background-color 0.3s ease-out,
  border-color 0.3s ease-out;		
  font-size: 2em;
}
.btn-main:hover,
.btn-main:active {
  background-color: #ee2655;
  border-color: #ee2655;
  color: #fff;
  transition: color 0.3s ease-in,
  background-color 0.3s ease-in,
  border-color 0.3s ease-in;
}

.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
.SumoSelect .select-all {
  display: table-cell;
}
hr {
  width: 60%;
  margin-top: 3rem;
  border: 0;
  border-top: 3px solid rgba(147, 149, 152);
}
.card {
	background-color: #f1f1f1;
}
.card-footer {
	background-color: white;
}
.SumoUnder {
	height: 100% !important;
}
.img-fit {
  max-width: 100%;
  height: 17vh;
  object-fit: cover;
}  