// main: style.scss

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #f5f8fd url('/img/rj.jpg') center top fixed ;
  background-size: cover;
  
  @media(max-width: 767px) {    
    h2 {
      font-size: 3em !important;
    }
    .btn-main {
      margin-top: 20px;
      background-color: #ee2655;
      border-color: #ee2655;
      color: #fff;
    }
    

    .intro-img {
      width: 80%;
    }
  }

  
  .intro-info {

    @media (min-width: 992px) {
      padding-top: 80px;
    }

    @media(max-width: 767px) {
      text-align: center;
      padding-top: 40px;      
    }


    h2 {
      color: white;
      margin-bottom: 40px;
      font-size: 48px;
      font-weight: 700;
      text-shadow: 4px 4px 4px black;
      
      span {        
        color: $primary-light;        
        text-shadow: 4px 4px 4px black;
      }

      @media (max-width: 767px) {
        font-size: 34px;
        margin-bottom: 30px;
      }

    }

    @keyframes blink {
			0% { box-shadow: none; }			
			50% { box-shadow: 0 0 30px yellow; }
			100% { box-shadow: none; }
		}

    .btn-get-started, .btn-services {
      font-family: $primary-font;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      display: inline-block;
      padding: 10px 32px;
      border-radius: 4px;
      transition: 0.5s;
      color: #fff; 
      background: $secondary-dark;
      color: #fff;
			animation: blink 2.0s linear infinite;

      &:hover {
        background: $primary-dark;
      }
    }

  }
}
.google-maps {
  margin-right: 3em;
}
@media (max-width: 768px) {
  .img-fit {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }  
  #cidades .google-maps {
    margin: 0 1.2em;
  }
}
#cidades, #sobre {
  .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

section#intro::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 30%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.3) 80%,rgba(0,0,0,.3) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.3) 80%,rgba(0,0,0,.3) 100%);
}
.scroll a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  padding-top: 70px;
}
.scroll a:hover {
  opacity: .5;
}

.scroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}