// main: style.scss
/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/
.section-header {

	h3 {
		font-size: 36px;
		color: $secondary;
		text-align: center;
		font-weight: 700;
		position: relative;
		font-family: $primary-font;
	}

	p {
		text-align: center;
		margin: auto;
		font-size: 15px;
		padding-bottom: 60px;
		color: $secondary-light;
		width: 50%;

		@media (max-width: 767px) {
			width: 100%;
		}
	}

}

/* Section with background
--------------------------------*/

.section-bg {
	background: #f5f8fd;
}

/* About Us Section
--------------------------------*/

#about {
	padding: 80px 0;

	.about-content {
		padding-top: 40px;
		h2 {
			color: $secondary;
			font-family: $primary-font;
			font-weight: 700;
		}
		h3 {
			color: lighten($secondary-light, 10%);
			font-weight: 400;
			font-size: 22px;
			font-style: italic;
		}

		ul {
			list-style: none;
			padding: 0;
			li {
				padding-bottom: 10px;
				i {
					font-size: 20px;
					padding-right: 4px;
					color: $primary;
				}
			}
		}
	}

	.about-img {
		position: relative;
		margin: 30px 30px 30px 30px;
	
		img {
			width: 100%;
			border: 8px solid #fff;
			transition: .5s;
			&:hover {
				width: 100%;
				transform: scale(1.03);
			}
		}
	
		&::before {
			position: absolute;
			left: -31px;
			top: -30px;
			width: 90%;
			height: 92%;
			z-index: -1;
			content: '';
			background-color: #ebf1fa;
			transition: .5s
		}
		
		&::after {
			position: absolute;
			right: -31px;
			bottom: -30px;
			width: 90%;
			height: 92%;
			z-index: -1;
			content: '';
			background-color: #ebf1fa;
			transition: .5s
		}
	}
	
}


/* Services Section
--------------------------------*/
#services {
	padding: 60px 0 40px 0;

	.box {
		padding: 30px;
		position: relative;
		overflow: hidden;
		border-radius: 10px;
		margin: 0 10px 40px 10px;
		background: $white;
		box-shadow: 0 10px 29px 0 rgba(68,88,144,.1);
		transition: all 0.3s ease-in-out;
		text-align: center;
		&:hover {
			transform: scale(1.1);
		}
	}

	.icon {
		margin: 0 auto 15px auto;
		padding-top: 12px;
		display: inline-block;
		text-align: center;
		border-radius: 50%;
		width: 60px;
		height: 60px;


		i {
			font-size: 36px;
			line-height: 1;
		}

	}

	.title {
		font-weight: 700;
		margin-bottom: 15px;
		font-size: 18px;
		a {
			color: #111;
		}
	}

	.box:hover .title a {
		color: $primary;
	}

	.description {
		font-size: 14px;
		line-height: 28px;
		margin-bottom: 0;
		text-align: left;
	}
}

/* Why Us Section
--------------------------------*/

#why-us {
	padding: 60px 0;

	.why-us-content {

		@media (max-width: 991px) {
			padding-top: 30px;
		}
		
		.features {
			margin: 0 0 15px 0;
			padding: 0;
			transition: 0.3s ease-in-out;

			i {
				font-size: 36px;
				float: left;
			}
	
			h4 {
				font-size: 24px;
				font-weight: 600;
				margin-left: 56px;
				color: $secondary;
				margin-bottom: 5px;
			}
	
			p {
				font-size: 16px;
				margin-left: 56px;
				color: lighten($secondary, 10%);
			}
	
		}
	}

	.counters {
		padding-top: 40px;
		span {
			font-family: $secondary-font;
			font-weight: bold;
			font-size: 48px;
			display: block;
			color:  lighten($secondary, 10%);
		}

		p {
			padding: 0;
			margin: 0 0 20px 0;
			font-family: $secondary-font;
			font-size: 14px;
			color: lighten($secondary, 30%);
		}
	}

}

/* Call To Action Section
--------------------------------*/
#call-to-action {
	background: darken($secondary, 10%);
	background-size: cover;
	padding:  40px 0;

	.cta-title {
		color: #fff;
		font-size: 28px;
		font-weight: 700;
	}

	.cta-text {
		color: #fff;
	}

	.cta-btn-container {
		@media (min-width: 991px) {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}

	.cta-btn {
		font-family: $primary-font;
		font-weight: 700;
		font-size: 16px;
		letter-spacing: 1px;
		display: inline-block;
		padding: 8px 26px;
		border-radius: 3px;
		transition: 0.5s;
		margin: 10px;
		border: 3px solid #fff;
		color: #fff;
		&:hover {
			background: $primary;
			border: 3px solid $primary;
		}
	}
}

/* Features Section
--------------------------------*/

#features {
	padding: 80px 0;

	h4 {
		font-weight: 600;
		font-size: 24px;
	}
}


/* Portfolio Section
--------------------------------*/
#portfolio {
	padding: 60px 0;

	#portfolio-flters {
		padding:0;
		margin:5px 0 35px 0;
		list-style:none;
		text-align:center;

		li {
			cursor: pointer;
			margin:15px 15px 15px 0;
			display:inline-block;
			padding:6px 10px;
			font-size:16px;
			line-height:20px;
			color: $secondary;
			margin-bottom:5px;
			transition:all 0.3s ease-in-out;

			&:hover, &.filter-active {
				color: $primary;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.portfolio-item {
		position: relative;
		overflow: hidden;
		margin-bottom: 30px;

		.portfolio-wrap {
			overflow: hidden;
			position: relative;
			margin: 0;


			&:hover {
				img {
					opacity: 0.4;
					transition: 0.3s;
				}
			}
			
			.portfolio-info {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				text-align: center;
				opacity: 0;
				transition: 0.2s linear;
	
				h4 {
					font-size: 22px;
					line-height: 1px;
					font-weight: 700;
					margin-bottom: 14px;
					padding-bottom: 0;
					a {
						color: $white;
						&:hover {
							color: $primary;
						}
					}
				}
				p {
					padding: 0;
					margin: 0;
					color: lighten($primary-light, 22%);
					font-weight: 500;
					font-size: 14px;
					text-transform: uppercase;
				}

				.link-preview, .link-details {
					display: inline-block;
					line-height: 1;
					text-align: center;
					width: 36px;
					height: 36px;
					background: $primary;
					border-radius: 50%;
					margin: 10px 4px 0 4px;
					
					i {
						padding-top: 6px;
						font-size: 22px;
						color: $white;
					}
					&:hover {
						background: lighten($primary, 10%);
						i {
							color: #fff;
						}
					}
				}
			}

			&:hover {
				background: $secondary-dark;
				.portfolio-info {
					opacity: 1;
				}
			}
		}

	}
}

/* Testimonials Section
--------------------------------*/
#testimonials {
	padding: 60px 0;

	.section-header {
		margin-bottom: 40px;
	}

	.testimonial-item {

		@media (max-width: 767px) {
			text-align: center;
		}

		.testimonial-img {
			width: 120px;
			border-radius: 50%;
			border: 4px solid #fff;
			float: left;
			@media (max-width: 767px) {
				float: none;
				margin:  auto;
			}
		}

		h3 {
			font-size: 20px;
			font-weight: bold;
			margin: 10px 0 5px 0;
			color: #111;
			margin-left: 140px;
		}

		h4 {
			font-size: 14px;
			color: #999;
			margin: 0 0 15px 0;
			margin-left: 140px;
		}

		p {
			font-style: italic;
			margin: 0 0 15px 140px;
			@media (min-width: 992px) {
				width: 80%;
			}
		}

		@media (max-width: 767px) {
			h3, h4, p {
				margin-left: 0;
			}
		}

	}

	.owl-nav, .owl-dots {
		margin-top: 5px;
		text-align: center;
	}

	.owl-dot {
		display: inline-block;
		margin: 0 5px;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background-color: #ddd;
	}

	.owl-dot.active {
		background-color: $primary;
	}
}

/* Team Section
--------------------------------*/
#team {
	padding: 60px 0;

	.member {
		text-align: center;
		margin-bottom: 20px;
		position: relative;
		overflow: hidden;

		.member-info {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			transition: 0.2s;
			padding: 15px 0;
			background: rgba(darken($secondary-light, 25%), 0.60);
		}

		.member-info-content {
			transition: margin 0.2s;
			height: 40px;
			transition: height 0.4s;
		}

		&:hover {
			.member-info {
				transition:  0.4s;
			}

			.member-info-content {
				height: 80px;
				
			}
		}

		h4 {
			font-weight: 700;
			margin-bottom: 2px;
			font-size: 18px;
			color: #fff;
		}

		span {
			font-style: italic;
			display: block;
			font-size: 13px;
			color: #fff;
		}

		.social {
			margin-top: 15px;
			a {
				transition: none;
				color: #fff;
				&:hover {
					color: $primary;
				}

			}

			i {
				font-size: 18px;
				margin: 0 2px;
			}
		}
	}
}

/* Clients Section
--------------------------------*/
#clients {
	padding: 60px 0;

	img {
		max-width: 80%;
		opacity: 0.5;
		transition: 0.3s;
		padding: 15px 0;
		&:hover {
			opacity: 1;
		}
	}

	.owl-nav, .owl-dots {
		margin-top: 5px;
		text-align: center;
	}

	.owl-dot {
		display: inline-block;
		margin: 0 5px;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background-color: #ddd;
	}

	.owl-dot.active {
		background-color: $primary;
	}
}

#pricing {
	
	padding: 80px 0;

	@media (max-width: 991px ) {
		padding-bottom: 30px;
	}

	.card {
		border: 0;
		border-radius: 0px;
		box-shadow: 0 3px 0px 0 rgba($secondary, .08);
		transition: all .3s ease-in-out;
		padding: 36px 0;
		position: relative;

		@media (max-width: 991px ) {
			margin-bottom: 50px;
		}
		
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 0%;
			height: 5px;
			background-color: $primary;
			transition: 0.5s;
		}
		
		&:hover {
			transform: scale(1.05);
			box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
			
			&:after {
				width: 100%;
			}
			
		}
		& .card-header {
			background-color: white;
			border-bottom: 0px;
			text-align-last: center;
		}

		& .card-title {
			margin-bottom: 16px;
			color: $secondary-light;
		}
		
		& .card-block {
			padding-top: 0;
			text-align: center;
		}

		& .list-group-item {
			border: 0px;
			padding: 6px;
			color: $secondary;
			font-weight: 300;
		}

		// Price
		h3 {
			font-size: 64px;
			margin-bottom: 0px;
			color: $secondary-light;

			& .currency {
				font-size: 30px;
				position: relative;
				font-weight: 400;
				top: -30px;
				letter-spacing: 0px;
			}
			& .period {
				font-size: 16px;
				color: lighten($secondary, 20%);
				letter-spacing: 0px;
			}
		}

		.list-group {
			margin-bottom: 15px;
		}
	
		// Buttons
		.btn {
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 500;
			color: lighten($secondary, 15%);
			border-radius: 0;
			padding: 10px 24px;
			letter-spacing: 1px;
			border-radius: 3px;
			display: inline-block;
			background: $primary;
			color: #fff;
			&:hover {
				background: $primary-dark;
			}
		}
	}

}

#faq  {
	padding: 60px 0;
	overflow: hidden;

	#faq-list {
		padding: 0;
		list-style: none;

		li {
			border-bottom: 1px solid #ebebeb;
		}

		a {
			padding: 22px 0;
			display: block;
			position: relative;
			font-family: $primary-font;
			font-size: 20px;
			line-height: 1;
			font-weight: 400;
			padding-right: 20px;
		}

		i {
			font-size: 24px;
			position: absolute;
			right: 0;
			top: 20px;
		}

		p {
			margin-bottom: 20px;
		}

		@media (max-width: 768px) {
			a {
				font-size: 18px;
			}

			i {
				top: 13px;
			}
		}

		a.collapse {
			color: $primary;
		}

		a.collapsed {
			color: #000;
			i::before {
				content: "\f2c7" !important;
			}
		}
	}
}

@media (max-width: 768px) {
	
	#resultado {
		&.section-bg {
			background: none;
		}
	}
}
		
@media (min-width: 769px) {  
	#resultado {
		// background: #f5f8fd url(/img/rio.jpg) center top fixed;
		.card-horizontal-footer {
			position: static;
		}
	}
}
@media (min-width: 1441px) {
	#resultado {
		.card-horizontal-footer {
			position: absolute;
			bottom: 0;
			width: 100%;            
		}
	}

}

#buscador {
	width: 100%;
	height: 100%;

	.section-header {

		h3 {
			font-size: 36px;
			color: $secondary;
			text-align: center;
			font-weight: 700;    
			font-family: $primary-font;
		}

		p {
			text-align: center;    
			font-size: 15px;
			padding-bottom: 60px;
			color: $secondary-light;
			width: 50%;

			@media (max-width: 767px) {
				width: 100%;
			}
		}

	}
	#tabs {
		&.card {
			background-color: none;
			background: transparent;
		}
		.card-body {
			background-color: white;
			
		}
	}
	
	.tab-header {
		
		h3 {
			margin: 0;
			font-size: 2em;
			color: $secondary;
			text-align: left;
			font-weight: 700;    
			font-family: $primary-font;
		}
	}
	.nav-tabs {
		border-bottom: none;
	}
	.tab-pane {    
		background-color: #f8f9fa;
		padding: 20px;
		border-radius: 0 0.25rem 0.25rem 0.25rem;
	}
	.btn-buscar {
		font-size: 2em;
	}
}


#resultado {
	width: 100%;
	height: 100%;
	padding-top: 100px;
	background: #f5f8fd url(/img/rj.jpg) center top fixed;

	.container-fluid {
		height: 100%;
		background-color: aliceblue;
		background: transparent !important;
	}
	main {
		padding-top: 24px;
	}
	.result-count {
		font-size: 1.2em;
		margin-bottom: 24px;
		color: #1e1d31;
		font-weight: 500;
	}
	.list-group-item {
		border: 0;
	}
	.card-header.bg-primary {
		color: white;
	}
}

#cidade {
	@media (max-width: 768px) {
		h1 {
			font-size: 2.25rem !important;
		}
		.cover-img{
			height: 100% !important;     
		}
		.nome-cidade {
			display: none !important;
		}
		.info-block {
			margin-bottom: 60px !important;
		}
		.quanto {
			font-size: 1.5em !important;
		}
		#list {
			margin-top: 30px !important;
		}
		.btn-main {
			font-size: 2em !important;
		}		
	}

	width: 100%;
	height: 100%;
	padding-top: 70px;

	#more {
		display: none;
	}
	.btn-read {
		display: flex !important;
		justify-content: center !important;
		margin-top: 10px !important;
		font-size: 1em !important;
		width: 8em !important;
	}

	main {
		padding: 3rem;
		p {
			margin-right: 2rem;
		} 
		@media (max-width: 768px) {
			padding: 1rem;
			p {
				margin-right: 0;
			} 
		}
	}

	h5 {
		line-height: 1.5;
	}
	.card-header .float-left {
		margin-left: -10px;
		display: flex;
		align-items: center;
		height: 100%;
	}

	#cover-img-tag {
		display: none;
	}
	.btn-main {
		margin: 0 auto;
		font-size: 3em;
		width: 15em;
	} 
 
	.card-header.bg-primary {
		color: white;
	}
	.cover-img {
		height: 75vh;
		object-fit: cover;
	}
	.nome-cidade {
		z-index: 2;
		position: absolute;
		margin-left: 3.5em;
		@media (min-width: 992px) {
			padding-top: 50px;
		}

		@media(max-width: 767px) {
			text-align: center;
			padding-top: 20px;
		}
		h2 {
			color: white;
			margin-bottom: 40px;
			font-size: 4rem;
			font-weight: 700;
			text-shadow: 4px 4px 4px black;
		}
	}

	h1 {
		font-weight: 700;
		font-size: 3rem;
	}
	p {
		font-size: 1.5em;
		color: #82858a;
	}
	#list {
		list-style: none;
		border: 1px rgba(0,0,0,0.2) solid;
		padding: 20px;

		table {
			font-size: 1em;
			padding: 10px;
			tr {
				border-bottom: 1px black solid;
			}
			td {
				padding: 20px 0;
				vertical-align: middle;
			}			
		}

		li {
			border-bottom: 1px solid #ebebeb;
		}

		a {
			padding: 22px 0;
			display: block;
			position: relative;
			font-family: $primary-font;
			font-size: 20px;
			line-height: 1;
			font-weight: 400;
			padding: 20px;     
		}
		a:active {
			color: black;
		}

		i {
			font-size: 24px;
			position: absolute;
			right: 20px;
			top: 20px;
		}

		p {
			margin-bottom: 20px;
		}

		@media (max-width: 768px) {
			a {
				font-size: 18px;
			}

			i {
				top: 13px;
			}
		}

		a.collapse {
			color: $primary;
		}

		a.collapsed {
			color: #000;
			i::before {
				content: "\f067" !important;
			}
		}
	}

	.info-container {
		display: flex;
		justify-content: center;
		margin: 80px 0;
	}
	.info-block {
		text-align: center;
		font-size: 1.5em;
		display: inline-block;
		/* margin-left: 5em; */
	}
	.info-block .quanto {
		display: block;
		font-size: 2em;
		font-weight: 600;
		color: black;
	}
	.info-block .oque {
		color: #3b3b3b;
		margin-top: -10px;
		display: block;
		text-transform: uppercase;
	}
}

#login {
	width: 100%;
	height: 100vh;
	position: relative;
	background: #f5f8fd url(/img/rj.jpg) center top fixed;
	background-size: cover;
	
	#login-box {
		margin-top: 30vh;
	}

	@media(max-width: 767px) {
		#login-box {
			margin-top: 15vh;
		}		
	}
}

#proposta {
	width: 100%;
	height: 100%;
	padding-top: 100px;
	background: #f5f8fd url(/img/rj.jpg) center top fixed;	

	.container-fluid {
		height: 100%;
		background-color: aliceblue;
		background: transparent !important;		
	}
	main {		
		padding: 24px 1.5em;
		@media (max-width: 768px) {
			padding: 0;
		}
	}
	.result-count {
		font-size: 1.2em;
		margin-bottom: 24px;
		color: #1e1d31;
		font-weight: 500;
	}	
	.card-header.bg-primary {
		color: white;
	}
	.cidade-selecionada {
		@media (max-width: 768px) {
			margin-top: 1em;
		}
	}
}

#sobre {
	
	width: 100%;
	height: 100%;
	padding-left: 3rem;
	padding-right: 3rem;
	.section-header {
		p {
			text-align: justify;
			width: 100%;
		}
	}

	h5 {
		line-height: 1.5;
	}
	
	h1 {
		font-weight: 700;
		font-size: 3rem;
	}
	p {
		font-size: 1.5em;
		color: #82858a;
	}

	@media (max-width: 768px) {
		padding: 1rem;
		h1 {
			font-size: 2.25rem !important;
		}		
		.btn-main {
			font-size: 2em !important;
		}		
	}
}