// main: style.scss

// Default Colors Set
$default: #444;
$default-light: #666;
$default-dark: #222;

// Primary Colors Set
$primary: #1e1d31;
$primary-light: #8dc2fa;
$primary-dark: #0a98c0;

// Secondary Colors Set
$secondary: #413e66;
$secondary-light: #535074;
$secondary-dark: #282646;

// Link Colors
$link: #1e1d31;
$link-hover: #ffc107;

// General Colors
$red: #dc3545;
$green: #28a745;
$blue: #007bff;
$yellow: #ffc107;
$orange: #fd7e14;
$purple: #6f42c1;
$pink: #e83e8c;
$white: #fff;
$gray: #6c757d;
$black: #343a40;
$teal: #20c997;
$cyan: #17a2b8;

/// Fonts
$default-font: 'Open Sans', sans-serif;
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

